.posts {
  list-style: none;
  padding-left: 0;
}

.post-item {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.post-item:before {
  content: "•";
  margin-right: 10px;
}

.post-text {
  text-align: left;
}
